.addProduct {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addProduct .addProductItems {
    width: 70%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addProduct .addProductItems form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    height: 80%;
}

.addProduct .addProductItems form select {
    width: 100%;
    height: 40px;
    outline-color: rgb(132, 168, 117);
    text-indent: 10px;

}

.addProduct .addProductItems form .addProductInput {
    width: 100%;
    height: 40px;
    text-indent: 10px;
    outline-color: rgb(132, 168, 117);


}

.addProduct .addProductItems form .addProductSizes {
    width: 80%;
    height: 40px;
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: space-between;
}

.addProduct .addProductItems form .addProductSizes label {
    width: 23%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
}

.addProduct .addProductItems form .addProductSizes input {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    text-indent: 10px;
}

.addProduct .addProductItems form .addProductColors {
    width: 80%;
    height: 40px;
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: space-between;
}

.addProduct .addProductItems form .addProductColors label {
    width: 23%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
}

.addProduct .addProductItems form .addProductColors input {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.addProduct .addProductItems form button {
    width: 100%;
    height: 40px;
    border: none;
    background-color: rgb(132, 168, 117);
    cursor: pointer;
    font-size: 18px;
    color: #fff;

}

.addProduct .addProductItems form .addProductImages {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

[type=file] {
    position: absolute;
    filter: alpha(opacity=0);
    opacity: 0;
}
input[type=file] + label {
  border: 1px solid #CCC;
  border-radius: 3px;
  text-align: left;
  padding: 5px 20px;
  width: 150px;
  margin: 0;
  left: 0;
  position: relative;
}
[type=file] + label {
  text-align: center;
  left: 7.35em;
  background: rgb(132, 168, 117);
  color: #fff;
  border: none;
  cursor: pointer;
}