.menTop {
    width: 100%;
    height: 10vh;
    background-color: #c7c5c5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menTop .menTopInfo {
    width: 90%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menTop .menTopInfo p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
}

.menTop .menTopInfo p span {
    font-size: 15px;
}

.menTop .menTopInfo .menTopSelect {
    max-width: 20ch;
    font-size: 13px;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    border: solid 1px #979797;
    padding: 11px;
    width: 100%;
}

.menTop .menTopInfo .menTopSelect select {
    -webkit-appearance: initial;
    -moz-appearance: initial;
    appearance: initial;
    background-color: transparent;
    border: none;
    padding: 0 19px 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    display: grid;
    color: #333333;
    outline: none;
}
.menTop .menTopInfo .menTopSelect i{
position: absolute;
right: 12px;
top: 50%;
transform: translate(0, -50%);
font-size: 15px;
pointer-events: none;
}