.productBuy {
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productBuy .productBuyContainer {
    width: 80%;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {

    .productBuy .productBuyContainer {

        flex-direction: column;
    
    }
}